Repository openapi-ts/openapi-typescript, pull requests merged in 2024-08, with the labels that each got.

#1791 feat: support `client["/endpoint"].GET()` style calls
  .changeset/stale-donuts-smoke.md
  docs/openapi-fetch/api.md
  docs/openapi-fetch/index.md
  packages/openapi-fetch/src/index.d.ts
  packages/openapi-fetch/src/index.js
  packages/openapi-fetch/test/index.bench.js
  packages/openapi-fetch/test/index.test.ts
Labels: openapi-fetch

#1831 Add MethodResponse utility type
  .changeset/hip-years-invite.md
  packages/openapi-fetch/src/index.d.ts
  packages/openapi-fetch/test/index.test.ts
Labels: openapi-fetch

#1833 fix type checking when `strictNullChecks` is disabled
  .changeset/lazy-dancers-push.md
  packages/openapi-fetch/package.json
  packages/openapi-fetch/src/index.d.ts
  packages/openapi-fetch/test/no-strict-null-checks/noStrictNullChecks.test.ts
  packages/openapi-fetch/test/no-strict-null-checks/tsconfig.json
  packages/openapi-fetch/tsconfig.json
  packages/openapi-react-query/src/index.ts
  packages/openapi-typescript-helpers/index.d.ts
Labels: openapi-ts, openapi-fetch, openapi-react-query

#1813 Expand Example Documentation at "openapi-ts.dev/examples"
  docs/examples.md
  docs/openapi-fetch/index.md
  packages/openapi-fetch/package.json
  packages/openapi-fetch/test/index.bench.js
  pnpm-lock.yaml
Labels: docs

#1817 feat(openapi-fetch): baseUrl per request
  .changeset/happy-singers-fry.md
  docs/openapi-fetch/api.md
  packages/openapi-fetch/src/index.d.ts
  packages/openapi-fetch/src/index.js
  packages/openapi-fetch/test/index.test.ts
Labels: openapi-fetch

#1825 Allow falsy values (except undefined) as a valid body
  .changeset/rich-crews-repeat.md
  packages/openapi-fetch/src/index.js
  packages/openapi-fetch/test/index.test.ts
Labels: openapi-fetch

#1826 Do not set content-type on body-less requests
  .changeset/chilled-forks-rush.md
  docs/openapi-fetch/api.md
  packages/openapi-fetch/src/index.js
  packages/openapi-fetch/test/index.test.ts
Labels: openapi-fetch
