Repository openapi-ts/openapi-typescript, pull requests merged in 2025-01, with the labels that each got.

#2063 feat(openapi-fetch): add support for arbitrary method
  .changeset/hot-pants-sit.md
  packages/openapi-fetch/src/index.d.ts
  packages/openapi-fetch/src/index.js
  packages/openapi-fetch/test/http-methods/request.test.ts
Labels: enhancement, openapi-fetch

#1881 feat(openapi-react-query): support for useInfiniteQuery()
  docs/openapi-react-query/use-infinite-query.md
  packages/openapi-react-query/src/index.ts
  packages/openapi-react-query/test/fixtures/api.d.ts
  packages/openapi-react-query/test/fixtures/api.yaml
  packages/openapi-react-query/test/index.test.tsx
Labels: openapi-react-query

#1945 add MethodResponse for openapi-react-query
  packages/openapi-react-query/src/index.ts
  packages/openapi-react-query/test/index.test.tsx
Labels: openapi-react-query

#2114 fix: use index.d.ts as types for cjs
  .changeset/witty-bottles-carry.md
  packages/openapi-react-query/package.json
Labels: openapi-react-query

#2115 chore(metadata): migrate to unbuild
  .changeset/honest-horses-cheer.md
  packages/openapi-metadata/package.json
  packages/openapi-metadata/src/errors/index.ts
  packages/openapi-metadata/tsup.config.ts
  pnpm-lock.yaml
Labels: openapi-metadata

#2061 Drop init argument when not needed in query key
  .changeset/sour-steaks-double.md
  packages/openapi-react-query/src/index.ts
  packages/openapi-react-query/test/index.test.tsx
Labels: openapi-react-query
